*{
  margin: 0;
  padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.hooter{
    height: 50px;
    width: 100%;
    background-color: black;
}
.hooter p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 5vh;
}
.nav{
    height: 40px;
    width: 100%;
    padding: 10px 0;
}
.nav-links{
    float: left;
    height: 100%;
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
.menu-icon{
    height: 100%;
    width: 30%;
    float: left;
}
.input-container {
    width: 50%;
    position: relative;
    float: left;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }
.nav-links h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 100px;
}
.nav-links li{
    margin-right: 20px;
}
.nav-links li:last-child{
    margin-right: 0;

}
.nav-links li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
}
.nav-links li a::after{
    content: '';
    position: absolute;
    bottom:0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(242, 8, 8);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.nav-links li a:hover::after{
    width: 100%;
}
.fa-user{
  float: left;
  margin-left: 50px;
  font-size: 30px;
  margin-top: 20px;
}
.fa-star{
  float: left;
  margin-left: 50px;
  font-size: 30px;
  margin-top: 20px;
}
.fa-cart-shopping{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
}
.fa-solid:hover{
  color: red;
}
/* slide */
.slide{
  height: 700px;
  width: 100%;
  margin:20px auto;
}
#slideshow {
  position: relative;
  height: 300px;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slideshow .showing {
  opacity: 1;
}
#slideshow{
  margin-top: 20px;
  float: left;
  margin-left: 180px;
}
#slideshow .prev,
#slideshow .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 50px;
height: 50px;
font-size: 20px;
font-weight: bold;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 50%;
cursor: pointer;
}

#slideshow .prev {

left: 10px;
top: 220px;
}

#slideshow .next {
  top: 220px;
  left: 1440px;
}
.view-more{
  height: 30px;
  width: 200px;
  background-color: black;
  margin-top: 10px;
  margin: auto;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex
}
.view-more1{
  height: 30px;
  width: 200px;
  margin-top: 10px;
  margin: auto;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex
}
.brand{
  height: 781.98px;
  width: 1200px;
  margin: 20px auto;
}
.product-man{
  height: 100%;
  width: 48%;
  background-color: black;
  float: left;
}
.product-man img{
  height: 781.98px;
  width: 100%;
}
.product-woman{
  height: 100%;
  width: 48%;
  margin-left: 4%;
  float: left;
  background-color: blanchedalmond;
}
.view-more2{
  height: 30px;
  width: 400px;
  margin-top: 10px;
  margin: auto;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex
}
.view-more3{
  height: 30px;
  width: 600px;
  margin-top: 10px;
  margin: auto;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex
}
.product-nam{
    height: 400px;
    width: 1200px;
    margin: 10px auto;
}
.product-name{
  height: 320px;
  width: 100%;
}
.product1{
  width: 240px;
  height: 320;
  float: left;

}
.product1 img{
  width: 240px;
  height: 320;
  transition: 0.5s;
}
.product1 img:hover{
  transform: scale(1.01);
  box-shadow: 2px 5px 10px;
}
.product-title{
  width: 100%;
  height: 100px;
}
.box-product1{
  height: 50px;
  width: 240px;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}
.more-view{
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.price{
  width: 240px;
  height: 30px;
  float: left;
  text-align: center;
}
.pedro {
  position: absolute;
  display: none;
  transform: translate(65px);
}

.iconstar {
  transform: translateY(-40px);
  font-size: 20px;
  margin: 2px;
  padding: 0;
}

.product1:hover .pedro {
  display: block;
  color: rgb(193, 179, 51);
}

.cart-cart {
  font-size: 30px;
  margin: 10px;
  padding: 0;
  transform: translateY(-320px);
}

.cart {
  display: none;
  position: absolute;
  margin-left: 180px;

}

.product1:hover .cart {
  display: block;
  color: rgb(20, 1, 11);
}
.banner-add{
  width: 100%;
  height: 500px;
}
.footer{
  font-family: 'Koulen', cursive;
  float: left;
  margin-top: 20px;
  width: 100%;
  height: 400px;
  background-color: rgb(117, 102, 102);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  
}
.modal-content img{
  height: 100%;
  width: 50%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.title-text{
  height: 300px;
  width: 450px;
  line-height: 40px;
  margin-left: 500px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transform: translateY(-390px);
}
.footer .sna{
  width: 30%;
  height: 100%;
  float: left;
  color: rgb(16, 16, 16);

}
.footer .sna p{
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 30px;
  font-size: 20px;
  line-height: 50px;
  transform: translate(120px);
}
.footer .thank{
  width: 30%;
  height: 100%;
  float: right;
  color: rgb(16, 16, 16);
}
.footer .thank p{
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 30px;
  font-size: 20px;
  line-height: 50px;
  transform: translate(120px);
}
.footer .about{
  color: rgb(16, 16, 16);
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 5%;
}
.footer .about p{
  /* display: flex;
  justify-content: center;
  text-align: center; */
  transform: translate(120px);
  margin-top: 30px;
  font-size: 20px;
  line-height: 50px;
}
.footer i{
  font-size: 30px;
}
.footer i:hover{
  color: #d4d4d4;
}
.footer a{
  text-decoration: none;
}